body {
  font-size: 18;
  margin: 0;
  background-color:#e6f7ff;
}
.dark { 
  background-color: #fff; 
  color: #2f2f2f;
  text-align: center;
  padding: 5px;
}
.container {
  padding-top: 20px;
  padding-bottom: 20px;
}
table {
  border-collapse: collapse;
  width: 80%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: #66ccff;
  color: white;
  text-align: left;
}

label {
  padding: 12px 12px 12px 0;
  font-weight: bold;
  display: inline-block;
}

input[type=number]{
  width: 30%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

input[type=submit] {
  background-color: #66ccff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #66ccff;
}

.myTableDiv{
  padding-top: 10px;
  max-height: 400px; 
  overflow: auto;
}
#right {
  background-color: #fff; 
  color: #2f2f2f;
  text-align: center;
  padding: 5px;
  margin:Top;
}